<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Leave Limit</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Leave Type</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="Yes" selected>CL</option>
                                <option value="No" >Emergency</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Employee Type</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="OnRoll" selected>OnRoll</option>
                                <option value="Consultant" >Consultant</option>
                                <option value="Contractual" >Contractual</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Per Month Leave Limit</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: 50...">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Max Leave Allowed</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: 50...">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Carry Forward Max Limit</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: 50...">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->