<!-- BACKGROUND-IMAGE -->
<div class="login-img">

    <!-- GLOABAL LOADER -->
    <!-- <div id="global-loader">
        <img src="https://www.spruko.com/demo/flaira/Flaira/assets/images/loader.svg" class="loader-img" alt="Loader">
    </div> -->
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page h-100">
        <div class="">
            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <h2 style="color:white;font-weight:bolder;">FRHS</h2>
                </div>
            </div>
            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form class="login100-form validate-form"  [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <span class="login100-form-title">
                            Login
                        </span>
                        <div class="wrap-input100 validate-input" style="margin-bottom: 0px;">
                            <input class="input100" type="text" name="userName" placeholder="Email" formControlName="userName"
                            [class.is-invalid]="myForm['userName'].invalid && myForm['userName'].touched">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="zmdi zmdi-email" aria-hidden="true"></i>
                            </span>
                            
                        </div>
                        <small style="padding: 0px;" class="text-danger" [class.d-none]="myForm['userName'].valid || myForm['userName'].untouched">Please
                            Enter User Name</small>
                            <br>
                        <div class="wrap-input100 validate-input" style="margin-bottom: 0px;">
                            <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="zmdi zmdi-lock" aria-hidden="true"></i>
                            </span>
                            
                        </div>
                        <small class="text-danger"
                            [class.d-none]="myForm['password'].valid || myForm['password'].untouched">Please
                            Enter Password</small>
                        <!-- <div class="text-right pt-1">
                            <p class="mb-0"><a href="forgot-password.html" class="text-primary ml-1">Forgot Password?</a></p>
                        </div> -->
                        <div class="container-login100-form-btn">
                            <!-- <a href="javascript:void(0)" routerLink="/dashboard" class="login100-form-btn btn-primary">
                                Login
                            </a> -->
                            <input type="submit" class="login100-form-btn btn-primary" value="Login">
                        </div>
                        <!-- <div class="text-center pt-3">
                            <p class="text-dark mb-0">Not a member?<a href="register.html" class="text-primary ml-1">Sign UP now</a></p>
                        </div>
                        <div class=" flex-c-m text-center mt-3">
                            <p>Or</p>
                            <div class="social-icons">
                                <ul>
                                    <li><a class="btn  btn-social btn-block"><i class="fa fa-google-plus text-google-plus"></i> Sign up with Google</a></li>
                                    <li><a class="btn  btn-social btn-block mt-2"><i class="fa fa-facebook text-facebook"></i> Sign in with Facebook</a></li>
                                </ul>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

</div>
<!-- BACKGROUND-IMAGE CLOSED -->