<!-- PAGE-HEADER -->
<!-- <div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb 
        <!-- <li class="breadcrumb-item"><a href="#">Reset Password</a></li> 
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> 
    </ol>
</div> 
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card mt-9">
            <div class="card-header">
                <h3 class="mb-0 card-title">Apply Leave</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label">Leave Type </label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="Dr" selected>CL</option>
                                <option value="Nursing" >ML</option>
                                <option value="Other" >Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-label">Date from</div>
                        <div class="custom-file">
                            <input type="date" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label">Date To</label>
                            <input type="date" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label">For Day</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="Dr" selected>Full Day</option>
                                <option value="Nursing" >Half Day</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Reason</label>
                            <textarea name="" style="resize: none;" class="form-control" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->