<!-- PAGE-HEADER -->
<!-- <div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb 
        <!-- <li class="breadcrumb-item"><a href="#">Reset Password</a></li> 
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> 
    </ol>
</div> 
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card mt-9">
            <div class="card-header">
                <h3 class="mb-0 card-title">Apply Leave</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="searchEmpForm" (ngSubmit)="searchEmployee()">
                    <div class="row">
                            <div class="form-group col-md-3">
                                <label class="form-label">Employee Id</label>
                                <input type="text" formControlName="empId" [ngClass]="{ 'is-invalid': submitted2 && myForm2['empId'].errors }" class="form-control" placeholder="eg:EMP1234">
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted2 && myForm2['empId'].errors?.['required']">Please
                                    Enter Employee Id</small>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-primary mt-6"><i class="fe fe-search"></i> Search</button>
                            </div>
                    </div>
                </form>
                <table class="table" *ngIf="isShow">
                    <thead>
                      <tr>
                        <th scope="col">EmpId</th>
                        <th scope="col">Employee Name</th>
                        <!-- <th scope="col">Father Name</th> -->
                        <th scope="col">Designation</th>
                        <th scope="col">Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">{{empSearchResult?.['empId']}}</th>
                        <td>{{empSearchResult?.['empName']}}</td>
                        <td>{{empSearchResult?.['designationName']}}</td>
                        <td>{{empSearchResult?.['locationName']}}</td>
                      </tr>
                    </tbody>
                </table>
                <form  *ngIf="isShow" [formGroup]="applyLeaveForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Employee</label>
                                <select formControlName="empId" name="stateddl" id="" class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm['empId'].errors }">
                                    <option value="" selected>Select</option>
                                    <option [value]="item.empId" *ngFor="let item of EmployeeList">{{item.empName}}</option>
                                </select>
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['empId'].errors?.['required']">Please
                                Select Employee</small>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Leave Type </label>
                                <select formControlName="leaveTypeId" name="stateddl" id="" class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm['leaveTypeId'].errors }">
                                    <option value="" selected>Select</option>
                                    <option [value]="item.leaveTypeId" *ngFor="let item of LeavTypeList">{{item.leaveTypeName}}</option>
                                </select>
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['leaveTypeId'].errors?.['required']">Please
                                Select Leave Type</small>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Employee Leave Applicable</label>
                                <select name="stateddl" formControlName="empLeaveApplicableId" id="" class="form-control" [ngClass]="{ 'is-invalid': submitted && myForm['empLeaveApplicableId'].errors }">
                                    <option value="" selected>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['empLeaveApplicableId'].errors?.['required']">Please
                                    Select Employee Leave Applicable</small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-label">Date from</div>
                            <div class="custom-file">
                                <input type="date" formControlName="dateFrom" [ngClass]="{ 'is-invalid': submitted && myForm['dateFrom'].errors }"class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['dateFrom'].errors?.['required']">Please
                                Select Date From</small>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Date To</label>
                                <input type="date" formControlName="dateTo" [ngClass]="{ 'is-invalid': submitted && myForm['dateTo'].errors }" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['dateTo'].errors?.['required']">Please
                                Select Date To</small>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Leave Day Status</label>
                                <select formControlName="leaveDayStatus" [ngClass]="{ 'is-invalid': submitted && myForm['leaveDayStatus'].errors }" name="stateddl" id="" class="form-control">
                                    <option value="" selected>Select Leave day Status</option>
                                    <option value="true">True</option>
                                    <option value="false" >False</option>
                                </select>
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['leaveDayStatus'].errors?.['required']">Please
                                Select Leave Day Status</small>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Attachment</label>
                                <input type="file" formControlName="attachment" style="resize: none;" name="" id="" class="form-control" />
                            </div>
                            <!-- <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['reason'].errors?.['required']">Please
                                Enter Reason</small> -->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Reason</label>
                                <textarea formControlName="reason" style="resize: none;" [ngClass]="{ 'is-invalid': submitted && myForm['reason'].errors }" name="stateddl" id="" class="form-control"></textarea>
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['reason'].errors?.['required']">Please
                                Enter Reason</small>
                        </div>
                    </div>
                    <!-- <div class="row">
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Reason</label>
                                <textarea name="" style="resize: none;" class="form-control" id="" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary float-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->