<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Employee</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <mat-horizontal-stepper [linear]="true" #stepper style="width: 100%; min-height: 350px;">
                        <mat-step [stepControl]="basicInfo">
                          <form [formGroup]="basicInfo">
                            <ng-template matStepLabel>Personal Details</ng-template>
                                <div class="row mt-3">                               
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Name </mat-label>
                                        <input matInput type="text"  formControlName="EmpName">
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.empName.invalid && (basicInfo.controls.empName.dirty || basicInfo.controls.empName.touched)">Name Is Required</mat-error> -->
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Father Name</mat-label>
                                            <input matInput type="text" formControlName="EmpFatherName">
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                        <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="Gender">
                                            <mat-option value="">Select</mat-option>
                                            <mat-option value="male">Male</mat-option>
                                            <mat-option value="female">Female</mat-option>
                                        </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Dob</mat-label>
                                        <input matInput type="date"  formControlName="DOB">
                                        <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                        <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                    </div>
                                </div>
                                <div class="row mt-3">                               
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Mobile No </mat-label>
                                      <input type="number" formControlName="MobNo" matInput>
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Email Id</mat-label>
                                          <input type="text" formControlName="EmailId" matInput>
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Whatsapp No.</mat-label>
                                      <input matInput type="number" formControlName="WhatsAppNo">
                                      <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                  </div>
                                </div>
                                <div class="row mt-3">   
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>Designation</mat-label>
                                    <mat-select formControlName="DesignationId">
                                      <mat-option value="">Select</mat-option>
                                      <mat-option [value]="item.designationId" *ngFor="let item of DesignationList">{{item.designationName}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>                            
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Address</mat-label>
                                      <textarea matInput formControlName="Address1" placeholder="Enter Your Address" style="resize: none;"></textarea>
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>Address2</mat-label>
                                    <textarea matInput formControlName="Address2" placeholder="Enter Your Address" style="resize: none;"></textarea>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>District</mat-label>
                                      <mat-select formControlName="DistrictId">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option [value]="item.districtId" *ngFor="let item of districtList">{{item.districtName}}</mat-option>
                                      </mat-select>
                                    </mat-form-field> 
                                  </div>  
                                  
                                </div>
                                <div class="row mt-3">  
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="StateId">
                                      <mat-option value="">Select</mat-option>
                                      <mat-option [value]="item.stateId" *ngFor="let item of StateList">{{item.stateName}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>                          
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Pincode</mat-label>
                                      <input matInput type="number" formControlName="PinCode">
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>ESI Number</mat-label>
                                          <input matInput type="text" formControlName="ESINo">
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>
                                </div>
                                <div class="row mt-3"> 
                                  
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>PF Number</mat-label>
                                    <input matInput type="text" formControlName="PFNo">
                                    <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                  </div>  
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Service Status</mat-label>
                                      <mat-select formControlName="ServiceStatus">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option value="test">Active</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                  </div>                                
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>Date Of Job</mat-label>
                                        <input matInput type="text" formControlName="DOJ">
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
                                      <ng-template #newFile >
                                          <mat-label>Choose file</mat-label>
                                      </ng-template>
                                      <input matInput  >
                                      <button mat-icon-button matSuffix type="button" (click)="fileInput.click()">
                                          <mat-icon>attach_file</mat-icon>
                                      </button>
                                      <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
                                    </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                  </div>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <button class="float-right btn btn-primary text-uppercase font-size-3" matStepperNext>Next</button>
                                </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="employeeDetails" label="Employment Details">
                          <form [formGroup]="employeeDetails">
                            <div class="row mt-3">
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Joining State</mat-label>
                                <mat-select formControlName="JoiningStateId">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option [value]="item.stateId" *ngFor="let item of StateList">{{item.stateName}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>State Name</mat-label>
                                <input matInput type="text" formControlName="StateName">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Joining District</mat-label>
                                <mat-select formControlName="JoiningDistId">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option [value]="item.districtId" *ngFor="let item of districtList">{{item.districtName}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>District Name</mat-label>
                                <input matInput type="text" formControlName="DistrictName">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row mt-3">                              
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Location</mat-label>
                                  <mat-select formControlName="LocationId">
                                      <mat-option value="">Select</mat-option>
                                      <mat-option [value]="1" *ngFor="let item of LocationList">{{item.locationName}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Location Name</mat-label>
                                <input matInput type="text" formControlName="LocationName">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>PAN</mat-label>
                                <input matInput type="text" formControlName="PANNo">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Channel</mat-label>
                                <input matInput type="text" formControlName="Channel">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Entity</mat-label>
                                <input matInput type="text" formControlName="Entity">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Aadhar</mat-label>
                                <input matInput type="text" formControlName="AadharNo">
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Bank</mat-label>
                                  <mat-select formControlName="BankName">
                                      <mat-option value="">Select</mat-option>
                                      <mat-option [value]="item.bankId" *ngFor="let item of BankList">{{item.bankName}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>IFSC</mat-label>
                                <input matInput type="text" formControlName="IFSCCode">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-3">
                                  <mat-form-field appearance="outline">
                                  <mat-label>Account No.</mat-label>
                                  <input matInput type="text" formControlName="AccountNo">
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                  <mat-form-field appearance="outline">
                                  <mat-label>Official Email</mat-label>
                                  <input matInput type="text" formControlName="OfficialEmailId">
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                  <mat-form-field appearance="outline">
                                  <mat-label>Registration Date</mat-label>
                                  <input matInput type="date" formControlName="RegistrationDate">
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                  <mat-form-field appearance="outline">
                                  <mat-label>Expiry Date</mat-label>
                                  <input matInput type="date" formControlName="ExpDate">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Designation Status</mat-label>
                                <mat-select formControlName="EmpDesigStatus">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option [value]="item.designationId" *ngFor="let item of DesignationList">{{item.designationName}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                              <button class="float-left btn btn-primary text-uppercase font-size-3" matStepperPrevious>Back</button>
                              <button class="float-right btn btn-primary text-uppercase font-size-3" matStepperNext>Next</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Final</ng-template>
                          <p>You are now done.</p>
                          <div class="col-lg-12 mt-3">
                            <button class="float-left btn btn-primary text-uppercase font-size-3" matStepperPrevious>Back</button>
                            <button class="float-right btn btn-primary text-uppercase font-size-3" (click)="AddEmployee()">Submit</button>
                          </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->