<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">District</a></li>
        <li class="breadcrumb-item active" aria-current="page">District List</li>
    </ol><!-- End breadcrumb -->
    <div class="ml-auto">
        <div class="input-group">
            
            <a href="javascript:void(0)" class="btn btn-primary button-icon mr-3 mt-1 mb-1" routerLink="./addEditDist">
                <span><i class="fe fe-plus"></i>Add District</span>
            </a>
        </div>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="districtexample" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th class="wd-15p">State DDL</th>
                                <th class="wd-15p">District Name</th>
                                <th class="wd-15p">Short Code</th>
                                <th class="wd-20p">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Uttar Pradesh</td>
                                <td>UP50</td>
                                <td>UP50</td>
                                <td class="btn-list">
                                    <a href="javascript:void(0)" class="btn btn-icon  btn-primary"> <i class="fe fe-edit"></i> </a>
                                    <a href="javascript:void(0)" class="btn btn-icon  btn-danger"> <i class="fe fe-delete"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- TABLE WRAPPER -->
        </div>
        <!-- SECTION WRAPPER -->
    </div>
</div>
<!-- ROW-1 CLOSED -->