<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Document Type</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <form [formGroup]="ServiceTypeForm" (ngSubmit)="addServiceType()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Service Type Name</label>
                                <input type="text" formControlName="serviceTypeName" [ngClass]="{'is-invalid': submitted && myForm['serviceTypeName']?.errors}" class="form-control" name="example-text-input" placeholder="eg: Medical...">
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['serviceTypeName'].errors?.['required']">Please
                                    Enter Service Type Name</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Service Short code</label>
                                <input type="text" class="form-control" formControlName="serviceShortCode" [ngClass]="{'is-invalid': submitted && myForm['serviceShortCode']?.errors}" name="example-text-input" placeholder="eg: M50...">
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['serviceShortCode'].errors?.['required']">Please
                                    Enter Service Short Code</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Service For</label>
                                <select name="stateddl" formControlName="serviceFor" [ngClass]="{'is-invalid': submitted && myForm['serviceFor']?.errors}" id="" class="form-control">
                                    <option value="" selected>Select Service For</option>
                                    <option value="1">Dr</option>
                                    <option value="2" >Nursing</option>
                                    <option value="3" >Other</option>
                                </select>
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['serviceFor'].errors?.['required']">Please
                                    Select Service For</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary float-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->