<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Location</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">State DDL</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>1</option>
                                <option value="cz" >2</option>
                                <option value="de" >3</option>
                                <option value="pl">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">District DDL</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>1</option>
                                <option value="cz" >2</option>
                                <option value="de" >3</option>
                                <option value="pl">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Location type DDL</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>1</option>
                                <option value="cz" >2</option>
                                <option value="de" >3</option>
                                <option value="pl">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Location name</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Short code</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->