<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#"> Purchase Order</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" id="" placeholder="Search Vendor">
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary"><i class="fe fe-search"></i> Search</button>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-12 col-lg-4 col-md-4">
                        <p class="h5">Name</p> Ashu singh
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-4">
                        <p class="h5">Address</p> chandauli bisauri 232104 Uttar pradesh India
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-4">
                        <p class="h5">GST</p> ABGDJKL90906G
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">PO Date</label>
                            <input type="date" class="form-control" name="example-text-input" placeholder="eg: 50...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">PO Number</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: 50...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">State</label>
                            <select class="form-control">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->