<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Bank</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="bankForm" (ngSubmit)="addBank()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Bank Name</label>
                                <input type="text" class="form-control" name="example-text-input" placeholder="eg: bank name" formControlName="bankName"
                                [ngClass]="{ 'is-invalid': submitted && myForm['bankName'].errors }">
                            </div>
                            <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['bankName'].errors?.['required']">Please
                                Enter Bank Name</small>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Short Code</label>
                                <input type="text" class="form-control" name="example-text-input" placeholder="eg: SBI..." formControlName="shortCode" [ngClass]="{ 'is-invalid': submitted && myForm['shortCode'].errors }">
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['shortCode'].errors?.['required']">Please
                                    Enter Short Code</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary float-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->