<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"> Stock Received</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label">State</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">District</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Location type</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-primary mt-6"><i class="fe fe-search"></i> Search</button>
                        </div>
                </div>
                    <div class="row p-2" >
                        <div class="table-responsive">
                            <table id="POexample" class="table table-bordered text-nowrap w-100">
                                <thead>
                                    <tr>
                                        <th >Sr No.</th>
                                        <th >Transfer State</th>
                                        <th >District</th>
                                        <th >Location Type</th>
                                        <th >Location</th>
                                        <th >Transfer Date</th>
                                        <th >Action</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr >
                                        <td>1</td>
                                        <td>Up</td>
                                        <td>Up</td>
                                        <td>LT</td>
                                        <td>L</td>
                                        <td>18-12-2022</td>
                                        <td class="btn-list">
                                            <button type="button" class="btn btn-icon btn-info" (click)="isShow=true" data-toggle="modal" data-target="#staticBackdrop"> <i class="fa fa-eye"></i> View </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show w-100" [ngStyle]="isShow ? {'display': 'block'} : {'display': 'none'}" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Recevied details</h5>
            <button type="button" (click)="isShow=false" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row p-2" >
                    <div class="table-responsive">
                        <table id="POexample" class="table table-bordered text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th >Sr No.</th>
                                    <th >Product Type</th>
                                    <th >Sub Product</th>
                                    <th >Quantity</th>
                                    <th >UOM</th>
                                    <th >Batch Number</th>
                                    <th >Exp Date</th>
                                    <th >Rate</th>
                                    <th >Amount</th>
                                    <th >GST</th>
                                    <th >Net Amount</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr >
                                    <td >1</td>
                                    <td >test</td>
                                    <td >Sub test</td>
                                    <td >1</td>
                                    <td >Pices</td>
                                    <td >B1</td>
                                    <td >18/12/2022</td>
                                    <td >10.2</td>
                                    <td >12450</td>
                                    <td >ABC87887</td>
                                    <td >1241466</td>
                                    <td >
                                        <a href="javascript:void(0)" class="btn btn-icon  btn-primary" > Save/Freaze </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="isShow=false"   data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->