
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"> Add Stock</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label">State</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">District</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Location type</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Location</label>
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary mt-2 float-right"><i class="fe fe-search"></i> Search</button>
                        </div>
                </div>
                <form [formGroup]="StockForm">
                    <div class="row p-2" >
                        <div class="table-responsive">
                            <table id="POexample" class="table table-bordered text-nowrap w-100">
                                <thead>
                                    <tr>
                                        <th >Sr No.</th>
                                        <th >Product Type</th>
                                        <th >Sub Product</th>
                                        <th >Vendor Name</th>
                                        <th >Vendor Branch</th>
                                        <th >Quantity</th>
                                        <th>Bacth No</th>
                                        <th>Exp Date</th>
                                        <th >UOM</th>
                                        <th >Rate</th>
                                        <th >Amount</th>
                                        <th >GST</th>
                                        <th >net Amount</th>
                                        <th >Action</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="Stocks">
                                    <tr formGroupName={{i}}  *ngFor="let cd of StockAliases.controls;let i = index;" >
                                        <td>{{i+1}}</td>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <select name="" id="" class="form-control" formControlName="ProductType">
                                                    <option value="" >UP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <select name="" id="" class="form-control" formControlName="Subproduct">
                                                    <option value="" >UP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <select name="" id=""  class="form-control" formControlName="VendorId">
                                                    <option value="">ram</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-12">
                                                <select name="" id=""  class="form-control" formControlName="VendorBranch">
                                                    <option value="" >UP</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="Quantity" name="" class="form-control"  id="" placeholder="Qty">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="BatchNo" name="" class="form-control"  id="" placeholder="Qty">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="ExpDate" name="" class="form-control"  id="" placeholder="Qty">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="UOM" name="" id="" class="form-control" placeholder="UOM">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="Rate" name="" id="" class="form-control" placeholder="Rate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="Amount" name="" id="" class="form-control" placeholder="Amount">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="GST" name="" id="" class="form-control" placeholder="GST">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="number" formControlName="NetAmount" name="" id="" class="form-control" placeholder="Net Amount">
                                            </div>
                                        </td>
                                        <td class="btn-list">
                                            <a href="javascript:void(0)" class="btn btn-icon  btn-primary" (click)="addStock()"> <i class="fe fe-plus"></i> </a>
                                            <a href="javascript:void(0)" class="btn btn-icon  btn-danger" (click)="DeleteStock(i)" *ngIf="i!=0"> <i class="fe fe-delete"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <input type="submit" value="Submit" class="btn btn-primary ">
                        <button class="btn btn-danger ml-2" type="button">Freeze</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->