
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"> Add Stock</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label">State</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">District</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Location type</label>
                            <select class="form-control ">
                                <option>Uttar Pradesh</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-primary mt-6"><i class="fe fe-search"></i> Search</button>
                        </div>
                </div>
                <div class="row p-2">
                    <div class="table-responsive">
                        <table id="POexample" class="table table-striped table-bordered text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th class="wd-15p">Sr No.</th>
                                    <th class="wd-25p">Product Type</th>
                                    <th class="wd-25p">Sub Product</th>
                                    <th class="wd-25p">Vendor</th>
                                    <th class="wd-20p">Vendor Branch</th>
                                    <th class="wd-20p">Qunt.</th>
                                    <th class="wd-20p">UOM</th>
                                    <th class="wd-20p">Rate</th>
                                    <th class="wd-20p">Amount</th>
                                    <th class="wd-20p">GST</th>
                                    <th class="wd-20p">net Amount</th>
                                    <th class="wd-20p">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SBI</td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <select name="" id="" class="form-control">
                                                <option value="" >UP</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <select name="" id="" class="form-control">
                                                <option value="" >UP</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <select name="" id=""  class="form-control">
                                                <option value="">UP</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <select name="" id=""  class="form-control">
                                                <option value="" >UP</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" class="form-control"  id="" placeholder="Qty">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" id="" class="form-control" placeholder="UOM">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" id="" class="form-control" placeholder="Rate">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" id="" class="form-control" placeholder="Amount">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" id="" class="form-control" placeholder="GST">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" name="" id="" class="form-control" placeholder="Net Amount">
                                        </div>
                                    </td>
                                    <td class="btn-list">
                                        <a href="javascript:void(0)" class="btn btn-icon  btn-primary"> <i class="fe fe-plus"></i> </a>
                                        <a href="javascript:void(0)" class="btn btn-icon  btn-danger"> <i class="fe fe-delete"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ml-1">
                    <input type="submit" value="Submit" class="btn btn-primary ">
                    <button class="btn btn-danger ml-2" type="button">Freeze</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->