	<!-- PAGE-HEADER -->
    <div class="page-header">
        <ol class="breadcrumb"><!-- breadcrumb -->
            <li class="breadcrumb-item"><a href="#"><h3 class="mb-0 breadcrump-tittle">Welcome To Flaira</h3></a></li>
        </ol><!-- End breadcrumb -->
        <div class="ml-auto">
            <div class="input-group">
                <a href="#" class="btn btn-white button-icon mr-3 mt-1 mb-1">
                    <span><i class="fe fe-shopping-cart"></i>Buy Now</span>
                </a>
                <a href="#" class="btn btn-white button-icon mr-3 mt-1 mb-1">
                    <span><i class="fe fe-printer"></i>Print</span>
                </a>
                <a href="#" class="btn btn-primary button-icon mr-3 mt-1 mb-1">
                    <span><i class="fe fe-download"></i>Download</span>
                </a>
            </div>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <div class="">
        <div class="banner banner-color mt-0 row">
            <div class="col-xl-1 col-lg-2 col-md-12 p-0">
                <img src="https://www.spruko.com/demo/flaira/Flaira/assets/images/svgs/email.svg" alt="image" class="image">
            </div>
            <div class="page-content col-xl-7 col-lg-6 col-md-12">
                <h3 class="mb-1">Welcome back! <span class="font-weight-bold text-primary">Devid Antoni</span></h3>
                <p class="mb-0 fs-16">Want to be the first to know about Flaira updates? Subscribe Now</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 text-lg-right">
                <a href="#" class="btn btn-success mr-3 mt-1 mb-1" id="skip">Skip</a>
                <a href="#" class="btn btn-danger mt-1 mb-1">Subscribe Now</a>
            </div>
        </div>
    </div>