<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit District</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                    <form [formGroup]="ApplicationPageForm" (ngSubmit)="addApplicationPage()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Page Title</label>
                                    <input type="text" formControlName="pageTitle" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                                    <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['pageTitle'].errors?.['required']">Please
                                        Enter Page Title</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Page Url</label>
                                    <input formControlName="pageURL" type="text" [ngClass]="{ 'is-invalid': submitted && myForm['pageURL']?.errors }" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                                    <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['pageURL'].errors?.['required']">Please
                                        Enter Page Url</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Page Type</label>
                                    <select formControlName="pageType" [ngClass]="{ 'is-invalid': submitted && myForm['pageType']?.errors }" name="stateddl" id="" class="form-control">
                                        <option value="true" selected>True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['pageType'].errors?.['required']">Please
                                        Select Status</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Menu</label>
                                    <select formControlName="menuId" [ngClass]="{ 'is-invalid': submitted && myForm['menuId']?.errors }" name="stateddl" id="" class="form-control">
                                        <option value="" selected>Select Menu</option>
                                        <option [value]="item?.menuId" *ngFor="let item of menuList">{{item?.menuName}}</option>
                                    </select>
                                    <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['menuId'].errors?.['required']">Please
                                        Select Menu</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <select formControlName="status" [ngClass]="{ 'is-invalid': submitted && myForm['status']?.errors }" name="" id="" class="form-control">
                                        <option value="true" selected>True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['status'].errors?.['required']">Please
                                        Select Status</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <textarea formControlName="description" [ngClass]="{ 'is-invalid': submitted && myForm['description']?.errors }" name="" id="" class="form-control"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary float-right">
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->