<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"> Attendance</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="searchEmpForm" (ngSubmit)="searchEmployee()">
                    <div class="row">
                            <div class="form-group col-md-3">
                                <label class="form-label">Employee Code</label>
                                <input type="text" formControlName="empCode" [ngClass]="{ 'is-invalid': submitted && myForm['empCode'].errors }" class="form-control" placeholder="eg:EMP1234">
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['empCode'].errors?.['required']">Please
                                    Enter Employee Code</small>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-primary mt-6"><i class="fe fe-search"></i> Search</button>
                            </div>
                    </div>
                </form>
                <form [formGroup]="markAttendanceForm" (ngSubmit)="markAttendance()">
                    <div class="row p-2" >
                        <div class="col-md-4 d-none">
                            <div class="form-group">
                                <label class="form-label">Employee Id</label>
                                <input type="text" formControlName="empId" class="form-control" readonly name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Employee Name</label>
                                <input type="text" formControlName="empName" class="form-control" readonly name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">State</label>
                                <input type="text" formControlName="stateName" class="form-control" readonly name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">District</label>
                                <input type="text" formControlName="districtName" class="form-control" readonly name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Location</label>
                                <input type="text" formControlName="locationName" class="form-control" readonly name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Designation</label>
                                <input type="text" formControlName="designationName" class="form-control" readonly name="example-text-input" placeholder="eg: 121350...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="form-label">Latitude</label>
                                    <input type="text" formControlName="latitude" id="lat" class="form-control" name="example-text-input" placeholder="eg: 4546550...">
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-label">Longitude</label>
                                    <input type="text" formControlName="longitude" id="long"  class="form-control" name="example-text-input" placeholder="eg: UP50...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Date</label>
                                <input type="date" formControlName="date" value="{{curDate | date:'yyyy-MM-dd'}}" min="2022-02-07" max="{{curDate | date:'yyyy-MM-dd'}}" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Attachment</label>
                                <input type="file" accept="image/jpg, image/png" (change)="selectFile($event)" formControlName="attachmentPath" style="resize: none;" name="" id="" class="form-control" />
                            </div>
                            <!-- <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['reason'].errors?.['required']">Please
                                Enter Reason</small> -->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Present Status</label>
                                <select formControlName="presentStatus" name="stateddl" id="" class="form-control">
                                    <option value="" selected>Select Present Status</option>
                                    <option value="In">In</option>
                                    <option value="Out" >Out</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Attendance</label>
                                <select formControlName="status" name="stateddl" id="" class="form-control" (change)="showPopup($event)">
                                    <option value="" selected>Select Attendance</option>
                                    <option value="1">Present</option>
                                    <option value="0" >Absent</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-4" *ngIf="time">
                            <div class="form-group">
                                <label class="form-label">Time</label>
                                <input type="time" formControlName="inTime" min="04:20" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="reason">
                            <div class="form-group">
                                <label class="form-label">Reason</label>
                                <textarea formControlName="remark" name="" id="" style="resize: none;" cols="30" rows="3" class="form-control" placeholder="Reason..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary float-right ml-2">Freeze</button>
                            <button type="submit" class="btn btn-primary float-right ">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->