<!-- PAGE-HEADER -->
<!-- <div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb 
        <!-- <li class="breadcrumb-item"><a href="#">Reset Password</a></li> 
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> 
    </ol>
</div> 
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card mt-9">
            <div class="card-header">
                <h3 class="mb-0 card-title">Reset Password</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Employee Id</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Search Employee Id...">
                                </div>
                                <span class="col-auto">
                                    <button class="btn btn-primary" type="button"><i class="fe fe-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">New Password</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->